<div class="col-lg-12 col-md-12">
	<!-- <p class="alert alert-danger" ng-show="errormessage">
		{{errormsg}}
	</p>
	<p class="alert alert-success" ng-show="successmessage">
		{{successmsg}}
	</p> -->
	<div class="row">
		<div class="col-lg-12">
			<!-- <div class="form-group" ng-class="{ 'has-error' : dyr.$invalid && submitted }"> -->
			<div class="form-group">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildedampt</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildedampt" name="fl_kildedampt" >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildepow</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildepow" name="fl_kildepow"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildemassef</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildemassef" name="fl_kildemassef"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildeoplos</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildeoplos" name="fl_kildeoplos"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildefp</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildefp" name="fl_kildefp"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildekp</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildekp" name="fl_kildekp"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildeph</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildeph" name="fl_kildeph"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildevisko</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildevisko" name="fl_kildevisko"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildemolekyle</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildemolekyle" name="fl_kildemolekyle"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildedafnier</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildedafnier" name="fl_kildedafnier"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildebod5</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildebod5" name="fl_kildebod5"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildecod</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildecod" name="fl_kildecod"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildephotolyse</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildephotolyse" name="fl_kildephotolyse"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildehydrolyse</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildehydrolyse" name="fl_kildehydrolyse"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildeandetbio</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildeandetbio" name="fl_kildeandetbio"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildeokoart</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildeokoart" name="fl_kildeokoart"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildeokoart1</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildeokoart1" name="fl_kildeokoart1"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildeozon</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildeozon" name="fl_kildeozon"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildehud</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildehud" name="fl_kildehud"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label class="col-sm-3 control-label">fl_kildehuda</label>
					<div class="col-sm-9">
						<input 	class="form-control" type="text" ng-model="info.fl_kildehuda" name="fl_kildehuda"  >
						<!-- <p ng-show="addcouponForm.special_txt.$invalid && submitted" class="help-block">ADD</p> -->
					</div>
				</div>
			</div>
			

		</div>
	</div>
</div>
